*, body {
   margin 0;
   padding:0;
}

.disc-card{
  width:300px;
  height:400px;
  background-color:#1C2729;
  border:solid 2px #1abc9c;
  -webkit-box-shadow: 0px 0px 15px 0px #999;
  display:inline-block;
}
.disc-card__banner{
   background-image:url("https://s-media-cache-ak0.pinimg.com/236x/54/f3/86/54f386d4fd11bde254a2ff37478220f4.jpg"); background-size:100%; 
  height:240px;
}
.disc-card__image{
  background-image:url("http://img.saraivaconteudo.com.br/Clipart/images/stromae.jpg");
  width:140px;
  height:140px;
  position:absolute;
  margin:55px 20px 20px 75px;
  border-radius:50%;
  background-size:100%;
  border:solid #1abc9c;
  transition: .2s;
}
.disc-card__image:hover{
  cursor:pointer;
  background-size:150px;
  border:dashed #1abc9c;
}
.disc-card__info{
  background-color:rgb(255,255,220);
  height:160px;
  width:300px;
  position:absolute;
}
.disc-card__list{
  list-style:none;
  text-align:center;
  position:relative;
}
.disc-card__title{
  color:#16a085;
  font-family:'pacifico', cursive;
  font-size:30px;
  margin:0 auto;
  text-transform:capitalize;
  transition:.5s;
}
.disc-card__title:hover{
  color:black;
  cursor:pointer;
}
.disc-card__title::selection{
   background-color:#e1e1e1;
   color:black;
}
.disc-card__date-art{
  font-family:arial;
  text-transform:uppercase;
  font-size:12px;
}
.disc-card__date-art::selection{
   background:red;
}
.disc-card__genero{
  color: gray;
  font-family:arial;
  text-transform:uppercase;
  font-size:10px;
}
body{
  background-color:black;
}
